/* Created on Nov 20 2019 by Weiting Ji */

.box {
    display: inline-block;
    background-color: skyblue;
    vertical-align: top;
    height: 700px;
    width: 45%;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    position: relative;
}

.waveform {
    border-style: solid;
    width: 90%;
    height: 300px;
    margin: 0 auto; 
}


.tr, th, td {
    border: 1px solid black;
}

.evaluation_table {
	background-color: white;
    border-style: solid;
    margin: 0 auto;
    width: 80%;
    margin-top: 10px;
}

.box_key {
    position: absolute;
    bottom: 20px;
    left: 350px;
}

img {
    height: 300px;
}

